<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="Control_de_IPs.Properties.Settings.DB_IPCONTROLConnectionString"
          connectionString="Data Source=AENSDC-374\SQLEXPRESS2014;Initial Catalog=DB_IPCONTROL;Integrated Security=True" providerName="System.Data.SqlClient" />
        <!--connectionString="Data Source=10.36.84.12;Initial Catalog=InventarioIT;user id=desarrollo_l; password=BalPlus88" providerName="System.Data.SqlClient" />-->
   
    <add name="Control_de_IPs.Properties.Settings.DB_IPCONTROLConnectionString2"
           connectionString="Data Source=AENSDC-374\SQLEXPRESS2014;Initial Catalog=DB_ControlTelefonia;Integrated Security=True" providerName="System.Data.SqlClient" />
          <!--connectionString="Data Source=10.36.84.12;Initial Catalog=InventarioIT;user id=desarrollo_l; password=BalPlus88" providerName="System.Data.SqlClient" />-->
     
  </connectionStrings>
</configuration>